@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-wrap: pretty;
    /* border: 1px solid white; */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    /* background-color: rgb(117, 30, 30); */
    font-family: "Savate";
    font-family: "Lora";
}

::-webkit-scrollbar {
    width: 1.5rem;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #e3e4e6;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #cececf;
    border-radius: 5px;
}

.componentSpacing {
    padding: 2rem ;
}
  
.screenSize1 {
    max-width: 1200px;
    margin: auto;
}

.grid-5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 2rem;
    gap: 1rem;
}

.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.dflex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    font-family: "Savate"; 
    font-size: 40px;  
    text-align: center;
}

label{
    background-color: #f5f4f2;
    color: #0b0c0e;
    border: none;
    border-radius: 6px;
    padding: 1rem;
    font-size: 16px;
    align-items: center;
    box-shadow: 0 0 8px rgba(21, 22, 23, 0.6);
}

button {
    font-family: "Arvo";
    font-size: 15px;
    font-weight: 500;
    background-color: #e4bca7;
    color: #0b0c0e;
    border: 2px solid #090a0afb;
    padding: 10px;
    margin: 1rem;
    width: 13rem;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #000000e1;
}

button:hover {
    background-color: rgb(99, 98, 96);
    border: 2px solid rgb(225, 218, 215);
}

.methodsContainer{
    background-color: rgb(117, 30, 30);
    backdrop-filter: blur(12px);
    margin-top: 1rem;
    padding: 4rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 20px #000000e1;
}

.firstRowBody{
    padding-top: 3rem;
}
